.container {
    max-width: 1440px !important;

}


.img-main-product {
    /* box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); */
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.main-img {
    transform-origin: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
    /* position: absolute; */
}

.img-main-product:hover {
    cursor: crosshair;
}



.container .discription-product {
    padding-left: 8rem;
}

.category-product {
    font-size: 12px;
    color: #A0A0A0;
}


.header-product {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #121212;
    /* line-height: 1.4; */
}





.main-product .num-review {
    display: flex;

}

.rating {
    display: flex;
    margin-right: 8px;

}

.rating input {
    display: none;
}

.rating div[class*="star-"] {
    font-size: 16px;
    color: #ccc;

    padding: 0 0px;
}

.rating div[class*="star-"]:before {
    content: '\2605';

}

.rating div[class*="star-"] {
    color: #ffcc00;
}





.wrapper-price-product {
    display: flex;
    align-items: center;
}

.price-product-current {
    color: #121212;
    font-weight: bold;
    font-size: 30px;
    margin-right: 12px;
}

.price-product-origin::before {
    content: "";
    height: 100%;
    border-left: 1px solid #A0A0A0;
    padding: 0 12px;
}

.price-product-origin {
    font-size: 16px;
    color: #A0A0A0;
    text-decoration: line-through;
}

.percent-discount {
    background-color: #DB4444;
    color: #fff;
    border-radius: 1rem;
    padding: 2px 12px;
    margin-left: 12px;
    width: fit-content;
    font-weight: bold;
}

.discription-product {
    color: #A0A0A0;
    font-size: 16px;
    margin: 0 0 22px;
    padding: 0 0 22px;
}



.add-to-cart {
    margin-left: 12px;
    padding: 14px 137px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

.add-to-cart:hover {
    background-color: #C3E92D;
    cursor: pointer;
}

.share-products {
    border-bottom: 1px solid #A0A0A0;
    padding-bottom: 2rem;
}





.wrapper-discription {
    width: 1160px;
    margin: 0 140px;
}

.description .text-header {
    color: #121212;

    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}


.description .text-content {
    color: #5E6267;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: block;
}

.wrapper-discription .col-6 {
    /* margin-left: 30px; */
}

.features {
    padding: 2rem 0;

}

.features .text-header {
    color: #121212;

    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding: 1rem 0;
}


.features .text-content {
    color: #5E6267;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: block;

}

.feature {
    padding-right: 60px;
}

.score-review {
    color: #121212;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    margin-right: 16px;
}

.num-review {}

.header-review {
    color: #121212;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 34px;
}

.wrapper-review {
    padding: 1rem 0;
}

.score-review {
    color: #121212;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    margin-right: 16px;
}

.reviews .wrapper-score-review {
    display: flex;
    align-items: center;
}


.reviews .rating div[class*="star-"] {
    font-size: 20px;

}

.num-ratings {
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
}



.list-score-review {
    padding: 0;
}

.list-score-review>li {
    display: flex;
    list-style: none;
    align-items: center;
}

.list-score-review .score {
    padding-right: 4px;
}

.line-percent-review {
    background: #E9E9E9;
    height: 9px;
    width: 100%;
    margin: 0 4px;
}

.list-score-review .five-score .line-percent-review {
    background: #ECB018;
}

.user-review {
    list-style: none;
    display: flex;
    padding-bottom: 23px;
    margin-bottom: 23px;
}

.user-review img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 30px 0 0;
}

.detail-review-user {}

.user-reviews>li:first-child {
    border-bottom: 1px solid #E9E9E9;
}

.name-user,
.time-review {
    display: inline-block;
}

.name-user {
    color: #121212;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}



.content-user-review {
    color: #121212;

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.user-reviews .line {}



.add-review .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.add-review .rating input {
    display: none;
}

.add-review .rating label {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.add-review .rating label:before {
    content: '\2605';

}

.add-review .rating label:hover,
.add-review .rating input:checked~label,
.add-review .rating input:checked~label:hover,
.add-review .rating label:hover~label {
    color: #ffcc00;
}

.rating-form {
    display: flex;
    align-items: center;
}

.header-add-review {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 0;
    line-height: 1;
    color: #121212;
    position: relative;
    overflow: hidden;
}

.add-review .sub-instruction {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.text-rating {
    letter-spacing: 0px;
    color: #121212;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 12px;
}

.rating-form label {
    margin-bottom: 0;
}


#feedback::placeholder {
    position: relative;
    top: 0px;
    left: 0px;
}

.needs-review #nameReview,
.needs-review #emailReview {
    width: 100%;
    color: #A0A0A0;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    margin-bottom: 0;
}

.needs-review #feedback {
    width: 100%;
    color: #A0A0A0;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    margin-bottom: 0;

    height: 113px;
}

.needs-review .btn.btn-primary {
    background-color: #fff;
    border: 1px solid #121212;
    border-radius: 6px;
    padding: 14px 40px;
    color: #121212;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-top: 1rem;
}

.needs-review .btn.btn-primary:hover {
    background-color: #C3E92D;
    color: #fff;
}

.main-product div[class*="wrapper-"]{
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 1rem;
}

.main-product ul[class*="list-"]{
    list-style: none;
    display: flex;
    padding: 0;
}

button[class*="btn"]{
    border-radius: 20px;
    padding: 4px 16px;
    background-color: #F0F0F0;
    border: none;
    color: #606060;
    margin-right: 1rem;
}

button[class*="btn"].active,
button[class*="btn"]:hover{
    border-radius: 20px;

    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-contact{
    width: 60%;
    margin-left: 12%;
}


.header.relative{
    font-size: 28px;
    font-weight: bold;
    margin-top: 2rem;
    padding: 4px;
}


.features{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    
}


.feature{
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-right: 2.5rem;
}

.feature img{
    border-radius: 1rem;
    width: 204px;
    height: 192px;
}



.feature img:hover{
    cursor: pointer;
}

.feature .text-content{
    margin-bottom: 2rem;
}





