<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/forgetPassword.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container">


        <div class="wrapper-header">
            <div class="forget-interface row">
                <div class="col-6  content-forget">
                    <div class="forget">
                        <div class="header-forget">
                            <div class="square"> </div>
                            <div class="app-name">TUS</div>
                        </div>

                        <div class="register">Forget Password</div>
                    </div>
                    <div class="wrapper-content-forget">

                        <div class="instruction">Enter the email address asociated with your account and we'll send an
                            email
                            with instructions on how to recover your password <i class="ti-bell"></i></div>

                        <form class="modal-content" action="" method="POST">

                            <div class="input">
                                <i class="ti-email"></i>
                                <div class="input-data">

                                    <input type="email" class="input-email" id="input-email" placeholder="Email"
                                        name="email">
                                </div>

                            </div>


                        </form>
                        <div class="clearfix">

                            <button class="resetPasswordBtn" onclick="forgetPassword()">Reset Password</button>
                        </div>
                        <div class="footer">
                            <div class="account-exist">Already have an account?</div>
                            <button type="button" class="log-in">Log in</button>

                            <div class="retry">If you cannot receive any emails, try another after</div>
                            <div id="countdown"></div>

                        </div>
                    </div>

                </div>


                <div class="discriptions col-6">
                    <div class="wrapper-logo">
                        <img class="logo" src="assets\img\logo.png" alt="">
                    </div>

                    <div class="wrapper-discriptions">
                        <div class="discription">
                            <div class="header-discription">
                                <div class="circle">
                                    <div class="tick"></div>
                                </div>
                                <div class="text">
                                    <div class="text-header-discription">Flexibility</div>
                                    <div class="text-discription">A flexible timetable with a variety of different
                                        class
                                        schedules
                                        allows users
                                        to choose what suits them best.
                                    </div>
                                    <div class="seperator"></div>
                                </div>

                            </div>

                        </div>
                        <div class="discription">
                            <div class="header-discription">
                                <div class="circle">
                                    <div class="tick"></div>
                                </div>
                                <div class="text">
                                    <div class="text-header-discription">The reliability</div>
                                    <div class="text-discription">The tutoring tream is always meticulously screened
                                        based on their GPA and evaluations form students.
                                    </div>
                                    <div class="seperator"></div>
                                </div>

                            </div>

                        </div>
                        <div class="discription">
                            <div class="header-discription">
                                <div class="circle">
                                    <div class="tick"></div>
                                </div>
                                <div class="text">
                                    <div class="text-header-discription">The suitability</div>
                                    <div class="text-discription">
                                        The platform is formed based on the need to enhance the academic performance
                                        of
                                        HCMUS
                                        students,
                                        so the courses will be more suitable and closely aligned with the curriculum
                                        of
                                        the
                                        university than anywhere else.
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



    </div>

    </div>
    <script>
        var forgetAccountBtn = document.querySelector('.btn .btn-forget-account')
        var cancelBtn = document.querySelector('.clearfix .cancelbtn')

        var resetPasswordBtn = document.querySelector('.resetPasswordBtn')
        var countdownElement = document.getElementById('countdown')
        var accountExist = document.querySelector('.account-exist')
        var logIn = document.querySelector('.log-in')
        var retry = document.querySelector('.retry')

        var seconds = 3;
        var countdownInterval;

        const $ = document.querySelector.bind(document)
        const $$ = document.querySelectorAll.bind(document)

        logIn.addEventListener("click", function () {
            window.location.href = "/signin";

        })
        function updateCountdown() {
            countdownElement.innerHTML = seconds + " giây";
            seconds--;

            if (seconds < 0) {

                resetPasswordBtn.style.display = 'block'
                accountExist.style.display = 'block'
                logIn.style.display = 'block'
                countdownElement.style.display = 'none'
                retry.style.display = 'none'
                seconds = 10;
                clearInterval(countdownInterval);
            }
        }

        function startCountdown() {
            seconds = 10;
            clearInterval(countdownInterval);
            countdownInterval = setInterval(updateCountdown, 1000);
            updateCountdown(); // Cập nhật ngay lúc bắt đầu
        }


        resetPasswordBtn.addEventListener("click", function () {
            resetPasswordBtn.style.display = 'none'
            accountExist.style.display = 'none'
            logIn.style.display = 'none'
            countdownElement.style.display = 'block'
            retry.style.display = 'block'
            console.log(countdownElement.style.display)
            startCountdown();
        })

        async function forgetPassword() {
            try {
                let email = document.getElementById('input-email').value;

                let isFalse = false;

                console.log(email)

                const response = await fetch('/forget-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email }),
                });

                console.log(response);

                if (!response.ok) {
                    isFalse = true

                }

                console.log(response);
                const data = await response.json();
                console.log(data);
                if (isFalse === true) {
                    const alertReview = $('.alert-danger')
                    alertReview.innerHTML = `${data.error}`;
                    alertReview.style.opacity = "1";
                    alertReview.style.display = "block"
                    console.log(alertReview)
                    setTimeout(function () {
                        alertReview.style.opacity = "0";
                        setTimeout(function () {
                            alertReview.style.display = "none";
                        }, 500);
                    }, 3000);
                }
                else {
                    const errorElements = $$('.error');

                    errorElements.forEach(errorElement => {
                        errorElement.style.display = 'none';
                    });
                }

                // Optional: You can handle the data returned from the server if needed


            } catch (error) {
                // Handle login error, e.g., display an error message

                console.error('Login failed', error);
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>