<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/resetPassword.css">
    <link rel="stylesheet" href="/assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container">


        <div class="wrapper-header">
            <div class="reset-interface row">
                <div class="col-6  content-reset">
                    <div class="reset">
                        <div class="header-reset">
                            <div class="square"> </div>
                            <div class="app-name">TUS</div>
                        </div>

                        <div class="register">Change Password</div>
                    </div>
                    <div class="wrapper-content-reset">

                        <div class="instruction">
                            <hr> Let's enter correct old password <i class="ti-bell"></i>
                            <hr> Then enter new password <i class="ti-bell"></i>
                        </div>

                        <form class="modal-content" action="" method="POST">

                            <div class="input">
                                <i class="ti-lock"></i>
                                <div class="input-data">
                                    <input type="password" class="input-password" id="input-old-password"
                                        placeholder="Old Password" name="oldPassword">
                                </div>
                            </div>
                            <div class="input">
                                <i class="ti-lock"></i>
                                <div class="input-data">
                                    <input type="password" class="input-password" id="input-new-password"
                                        name="newPassword" placeholder="New Password">
                                </div>
                            </div>
                            <div class="input">
                                <i class="ti-lock"></i>
                                <div class="input-data">
                                    <input type="password" class="input-confirm-password" id="input-confirm-password"
                                        name="confirmPassword" placeholder="Confirm Password">
                                </div>
                            </div>


                        </form>
                        <div class="clearfix">

                            <button class="resetPasswordBtn" onclick="resetPassword()">Change Password</button>
                        </div>
                        <div class="footer">

                            <div class="retry">If you cannot receive any emails, try another after</div>
                            <div id="countdown"></div>

                        </div>
                    </div>

                </div>


                <div class="discriptions col-6">
                    <div class="wrapper-logo">
                        <img class="logo" src="assets\img\logo.png" alt="">
                    </div>

                    <div class="wrapper-discriptions">
                        <div class="discription">
                            <div class="header-discription">
                                <div class="circle">
                                    <div class="tick"></div>
                                </div>
                                <div class="text">
                                    <div class="text-header-discription">Flexibility</div>
                                    <div class="text-discription">A flexible timetable with a variety of different
                                        class
                                        schedules
                                        allows users
                                        to choose what suits them best.
                                    </div>
                                    <div class="seperator"></div>
                                </div>

                            </div>

                        </div>
                        <div class="discription">
                            <div class="header-discription">
                                <div class="circle">
                                    <div class="tick"></div>
                                </div>
                                <div class="text">
                                    <div class="text-header-discription">The reliability</div>
                                    <div class="text-discription">The tutoring tream is always meticulously screened
                                        based on their GPA and evaluations form students.
                                    </div>
                                    <div class="seperator"></div>
                                </div>

                            </div>

                        </div>
                        <div class="discription">
                            <div class="header-discription">
                                <div class="circle">
                                    <div class="tick"></div>
                                </div>
                                <div class="text">
                                    <div class="text-header-discription">The suitability</div>
                                    <div class="text-discription">
                                        The platform is formed based on the need to enhance the academic performance
                                        of
                                        HCMUS
                                        students,
                                        so the courses will be more suitable and closely aligned with the curriculum
                                        of
                                        the
                                        university than anywhere else.
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



    </div>

    </div>
    <script>

        async function resetPassword() {
            try {
                let oldPassword = document.getElementById('input-old-password').value;
                let newPassword = document.getElementById('input-new-password').value;
                let confirmPassword = document.getElementById('input-confirm-password').value;

                const curUrl = new URL(window.location.href);

                
                const response = await fetch('{{layout}}/changePassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ password, password2 }),
                });

                // Clear input fields regardless of the response status
                console.log(response);
                if (!response.ok) {
                    throw new Error('Login failed');
                }


                // Check if the response indicates a successful login and a redirection
                if (response.ok && response.redirected) {
                    window.location.href = response.url;
                    return;
                }

                // Optional: You can handle the data returned from the server if needed
                const data = await response.json();
                console.log(data);

            } catch (error) {
                // Handle login error, e.g., display an error message
                alert("Login failed");
                console.error('Login failed', error);
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>