<style>
    @import url(/stylesheets/contact.css);
</style>

<div class="container">
    <div class="formbx">
        <form action="">
            <h2>Contact Us</h2>
            <div class="inputbox">
                <input type="text" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputbox">
                <input type="email" required="required">
                <span>Email Address</span>
            </div>
            <div class="inputbox">
                <textarea name="" id="" cols="30" rows="10" required></textarea>
                <span>Type Your Message Here...</span>
            </div>
            <div class="inputbox">
                <input type="submit" value="send">
                <input type="submit" value="back">
            </div>
        </form>
    </div>
    <div class="imgbx"><img src="./images/contactus.svg" alt=""></div>
</div>