<header class="header">

    <div class="contact-info">
        <p> <i class="fas fa-map-marker-alt"></i>227 Nguyễn Văn Cừ, District 5, HCMC</p>
        <p> <i class="fas fa-envelope"></i>TUS.it@gmail.com</p>
        <p> <i class="fas fa-clock"></i>24/7
            <a href="https://instagram.com/nauxbachh/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/bach0807/"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/PUPMKINN/MyShopping"><i class="fab fa-github"></i></a>
            </i>
        </p>
    </div>


    <nav class="navbar">

        <a href="/" class="logo">
            {{> logo}}
            <div class="links">
                <a href="/">Home</a>
                <a href="/site/aboutUs">About Us</a>
                <a href="/courses">Tutor</a>


                <a href="/login" class="btn">Become A Tutor</a>
                <a href="/login">Login</a>
            </div>

            <div id="menu-btn" class="fa fa-bars"></div>

    </nav>
</header>