<style>
    @import url(/stylesheets/category.css);
</style>

<header class="header">

    <div class="contact-info">
        <p> <i class="fas fa-map-marker-alt"></i>227 Nguyễn Văn Cừ, District 5, HCMC</p>
        <p> <i class="fas fa-envelope"></i>lynhathao.it@gmail.com</p>
        <p> <i class="fas fa-clock"></i>24/7
            <a href="https://instagram.com/nauxbachh/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/bach0807/"><i class="fab fa-facebook"></i></a>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            </i>
        </p>

    </div>


    <nav class="navbar">

        <a href="/user" class="logo">
            {{> logo}}
            <div class="links">
                <a href="/user">Home</a>
                <a href="/user">About Us</a>
                <a href="/user/courses">Tutor</a>
                <a href="/user/userMode" class="btn">USER MODE</a>
                <a href="/user">Contact Us</a>
                <a href="/user/premium" class="btn">Become A Tutor</a>
                <a href="/logout">Logout</a>
            </div>

            <div id="menu-btn" class="fa fa-bars"></div>

    </nav>
</header>