<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TUS</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

   <style type="stylesheets">@import url(https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css);</style>
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <style type="stylesheets">@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);</style>
   <script type="module" src="/javascripts/swiper-bundle.min.js"></script>
   <script type="module" src="/javascripts/script.js"></script>
   <style type="stylesheets">@import url(https://fonts.cdnfonts.com/css/prata-2);</style>
   <style type="stylesheets">
      @import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=latin-ext&display=swap);</style>
   <style type="stylesheets">@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
</style>
   <style type="stylesheets">
      @import url(https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css);</style>


   <link rel="stylesheet" href="/styleGeneralTemp.css">
   <!-- custom js file link  -->


   <script>
      lightGallery(document.querySelector('.gallery .gallery-container'));
   </script>

</head>
{{> notification}}

<body>


   </div>
   {{> headerGuest}}
   {{{body}}}
    {{> footer}}
   <script src="./javascripts/script.js"></script>
</body>

</html>