.header .navbar {
    padding: 2rem 10%;
    display: -webkit-box !important;
}


.footer {
    background: #f5f5f5;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #334;
    padding: 1rem 0;
}

.footer .box-container .box .link {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}

.footer .box-container .box .link i {
    padding-right: .5rem;
    color: #40DDB6;
}

.footer .box-container .box .link:hover {
    color: #40DDB6;
}

.footer .box-container .box .link:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    padding: .5rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}

.footer .box-container .box p span {
    color: #40DDB6;
}

.footer .box-container .box .email {
    width: 100%;
    border: 0.2rem solid #334;
    padding: 1.6rem 1.4rem;
    font-size: 1.6rem;
    color: #777;
    margin: 1rem 0;
}

.footer .box-container .box .share {
    margin-top: 2rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background: #334;
    color: #fff;
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: #40DDB6;
}

.footer .credit {
    font-size: 2rem;
    text-transform: capitalize;
    color: #334;
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 0.2rem solid #334;
    text-align: center;
}

.footer .credit span {
    color: #40DDB6;
}

.clearfix {
    display: flex;

    margin-top: 1rem;
    margin-right: 1rem;
}

.clearfix {
    justify-content: center;
}

.clearfix button {
    border: none;
    cursor: pointer;

    padding: 1rem 2rem;
    min-width: 12rem;
    background-color: #3D90FF;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    margin: 0 2rem;
    font-size: 20px;
}

.clearfix .cancelbtn {
    margin-left: 20px;
}

.clearfix button:hover {
    opacity: 1;
}

.cancelbtn {
    background-color: #da5767 !important;
}

.input-content {
    padding: 0;
}


.wrapper-content-reset .modal-content {
    border: none;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 50%;
}

.checkbox-container:hover input~.checkmark {
    background-color: #e7f1e7;
}

.checkbox-container input:checked~.checkmark {
    background-color: #4CAF50;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#countdown {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3D90FF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-left: 4px;
}

.retry {
    display: none;
}

.footer {
    margin-top: 20px;
    justify-content: center;
}

.log-in {
    border: none;
    background: #fff;
    color: blue;
    cursor: pointer;
    padding: 0 6px;
}

hr {
    border-top: none !important;
    border: none !important;
}