.clearfix {
    display: flex;

    margin-top: 1rem;
    margin-right: 1rem;
}

 .clearfix {
    justify-content: center;
}

.clearfix button {
    border: none;
    cursor: pointer;

    padding: 1rem 2rem;
    min-width: 12rem;
    background-color: #3D90FF;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    margin: 0 2rem;
    font-size: 20px;
}

.clearfix .cancelbtn {
    margin-left: 20px;
}

.clearfix button:hover {
    opacity: 1;
}

.cancelbtn{
    background-color: #da5767 !important;
}

.input-content{
    padding: 0;
}


.wrapper-content-forget .modal-content{
    border: none;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 50%;
}

.checkbox-container:hover input~.checkmark {
    background-color: #e7f1e7;
}

.checkbox-container input:checked~.checkmark {
    background-color: #4CAF50;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#countdown {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3D90FF;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-left: 4px;
}

.retry {
    display: none;
}

.footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.log-in {
    border: none;
    background: #fff;
    color: blue;
    cursor: pointer;
    padding: 0 6px;
}
