<div id="page" class="site">
    <div class="container">
        <div class="theform">
            <div class="play"></div>
            <div class="signup"></div>
            <div class="signin"></div>
        </div>
    </div>
</div>