<style>
    @import url(/stylesheets/tutormode.css);
</style>
<style>
    @import url(https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css);
</style>

<!-- header section starts  -->



<!-- header section ends -->

<!--body section starts -->
<section class="home" id="home">
    <div class="content">
        <h3 class="wrapper-mode">
            <a href="/tutor/profile"><i class="ri-arrow-right-s-fill"></i>Edit profile</a>
            <br>
        </h3>
        <h3 class="wrapper-mode">
            <a href="/tutor/create"><i class="ri-arrow-right-s-fill"></i>Create course</a>
            <br>
        </h3>
        <h3 class="wrapper-mode">
            <a href="/tutor/stored/waiting-list"><i class="ri-arrow-right-s-fill"></i>Student Waiting List</a>
            <br>
        </h3>
        <h3 class="wrapper-mode">
            <a href="/tutor/stored/courses"><i class="ri-arrow-right-s-fill"></i>View Courses</a>
            <br>
        </h3>
        <h3 class="wrapper-mode">
            <a href="/tutor/changePassword"><i class="ri-arrow-right-s-fill"></i>Update PassWord</a>
            <br>
        </h3>
        <div class="wrapper-left">
            <div class="left-day">
                <h3>Left days: {{leftDay}}</h3>
            </div>
            <div class="left-course">
                <h3>Left course: {{leftCourse}}</h3>
            </div>
        </div>

        <h3 class="wrapper-log-out">
            <a href="/logout" class="btn">Log out</a>
        </h3>
    </div>
    <div class="image">
        <img src="/images/{{user.avatar}}" alt="">
    </div>

</section>

<!--body section ends -->

<!-- footer section starts  -->



<!-- footer section ends -->
<script>
    let menu = document.querySelector('#menu-btn');
    let navbarLinks = document.querySelector('.header .navbar .links');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbarLinks.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbarLinks.classList.remove('active');

        if (window.scrollY > 60) {
            document.querySelector('.header .navbar').classList.add('active');
        } else {
            document.querySelector('.header .navbar').classList.remove('active');
        }
    }
</script>