<style type="stylesheets">@import url(/stylesheets/aboutus.css);</style>
<script type="module" src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<style type="stylesheets">@import url(https://fonts.cdnfonts.com/css/prata-2);</style>
<style type="stylesheets">
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=latin-ext&display=swap);</style>
<style type="stylesheets">@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);</style>
<style type="stylesheets">@import url(https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css);</style>
<script src="/javascripts/swiper-bundle.min.js"></script>
<script type="module" src="/javascripts/script.js"></script>
<script type="module" src="/javascripts/swiper-bundle.min.js"></script>

<div id="page" class="page-home">
    <header>
        <div class="inner-header">
            <div class="container wide">
                <div class="wrap">
                    <!--Header left-->
                    <div class="header-left">
                        <div class="menu-bar">
                            <a href="#0" class="menu-trigger" trigger-button data-target="mobile-menu"><i
                                    class="ri-menu-line"></i></a>
                        </div>
                        <div class="list-inline">
                            <ul>
                                <li><a href="/login"><i class="ri-user-line"></i></a></li>
                                <li><a href=""><span class="item-floating">7</span>
                                        <i class="ri-star-line"></i>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Header center-->
                    <div class="header-center">
                        <nav class="menu">
                            <ul>
                                <li><a href="/"><span>Home</span></a></li>
                                <li><a href="/category"><span>Products</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-mega">
                                        <li>
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="mega-content">
                                                        <div class="dotgrid">
                                                                <div class="wrapper">
                                                                    <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="./images/product_01.jpg"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="./images/product_01b.jpg"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i
                                                                                                class="ri-star-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-arrow-left-right-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-eye-line"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="">The Shoes
                                                                                    in VietNam</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$80</span>
                                                                            <span class="before"></span>
                                                                            </div>                                                                          
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="./images/product_02.jpg"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="./images/product_02b.jpg"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i
                                                                                                class="ri-star-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-arrow-left-right-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-eye-line"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="">The Sweater
                                                                                    in Tosca</a></h2>
                                                                            <div class="product-price"></div>
                                                                            <span class="before">$80</span>
                                                                            <span class="before"></span>
                                                                            <span class="before"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="./images/product_03.jpg"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="./images/product_03b.jpg"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i
                                                                                                class="ri-star-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-arrow-left-right-line"></i></a>
                                                                                    </li>
                                                                                    <li><a href=""><i
                                                                                                class="ri-eye-line"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="">The Sweater
                                                                                    in Tosca</a></h2>
                                                                            <div class="product-price"></div>
                                                                            <span class="before">$80</span>
                                                                            <span class="before"></span>
                                                                            <span class="before"></span>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="links">
                                                                <div class="list-block">
                                                                    <h3 class="dot-title">Jordan</h3>
                                                                    <ul>
                                                                        <li><a href="#">Vans</a></li>
                                                                        <li><a href="#">New Balance</a></li>
                                                                        <li><a href="#">MLB</a></li>
                                                                        <li><a href="#">Puma</a></li>
                                                                        <li><a href="#">Supreme</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="list-block">
                                                                    <h3 class="dot-title">Shoes</h3>
                                                                    <ul>
                                                                        <li><a href="#">Louis Vuition</a></li>
                                                                        <li><a href="#">Dolce and Gabbana</a></li>
                                                                        <li><a href="#">Gucci</a></li>
                                                                        <li><a href="#">Nike</a></li>
                                                                        <li><a href="#">Adidas</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="list-block">
                                                                    <h3 class="dot-title">Boots</h3>
                                                                    <ul>
                                                                        <li><a href="#">Armani</a></li>
                                                                        <li><a href="#">Channel</a></li>
                                                                        <li><a href="#">Dior</a></li>
                                                                        <li><a href="#">Gucci</a></li>
                                                                        <li><a href="#">Hugo Boss</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/aboutus"><span>Our</span></a></li>
                            </ul>

                            <ul>
                                <li><a href=""><span>Specials</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-menu list-block">
                                        <li><a href="/category/nike">Nike</a></li><!--Product brands Nike-->
                                        <li><a href="/category/dior">Dior</a></li><!--Product brands Dior-->
                                        <li><a href="/category/adidas">Adidas</a></li><!--Product brands Adidas-->
                                        <li><a href="/category/balenciaga">Balenciaga</a></li><!--Product brands Balenciaga-->
                                    </ul>
                                </li>
                                <li><a href="/login"><span>Login</span></a></li> <!--login-->
                                <li><a href=""><span>Contacts</span></a></li> <!--contact-->
                            </ul>
                        </nav>
                        <div class="branding"><a href="">Shopping</a></div>
                    </div>
                    <!--Header right-->
                    <div class="header-right">
                        <div class="list-inline">
                            <ul>
                                <li><a href="#0" trigger-button data-target="search-float"><i
                                            class="ri-search-line"></i></a></li>
                                <li><a href=""><span class="item-floating">0</span><i
                                            class="ri-shopping-bag-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search-float" class="search-float">
                <div class="containe rwide">
                    <form action="/" method="get" class="search">
                        <i class="ri-search-line"></i>
                        <input type="search" class="input" id="productName" name="productName" placeholder="Search products">
                        {{!-- <button type="submit"> Search </button> --}}
                        <i class="ri-close-line" close-button></i>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="team" id="team">
        <h1 class="heading">About Our Team </h1>
        <div class="box-container">
            <div class="box">
                <img src="./images/team-1.png" alt="">
                <div class="content">
                    <h3>Trịnh Xuân Bách</h3>
                    <p>DoB: 08/07/2003</p>
                    <p>Class: 21KTPM1</p>
                    <p>Front-end Developer</p>
                    <div class="share">
                        <a href="https://www.facebook.com/bach0807/" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="https://github.com/PUPMKINN" class="fab fa-github"></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="./images/team-3.png" alt="">
                <div class="content">
                    <h3>Trần Hoàng Duy</h3>
                    <p>DoB: 16/11/2003</p>
                    <p>Class: 21KTPM1</p>
                    <p>Backend Developer</p>
                    <div class="share">
                        <a href="https://www.facebook.com/hoangduy.tran.370177" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="https://github.com/thduy161103" class="fab fa-github"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <footer>
        <div class="inner-footer">
            <div class="container">
                <div class="wrap">
                    <div class="top">
                        <div class="subscribe">
                            <h3>Get voucher from us</h3>
                            <p class="grey-color">Enter your email be the first to know about new collections from
                                us
                            </p>
                            <form action="" class="search">
                                <i class="ri-mail-line"></i>
                                <input type="text" class="input" placeholder="Enter your email">
                                <input type="submit" class="submit">
                                <i class="ri-arrow-right-line"></i>
                            </form>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Service</h3>
                            <ul>
                                <li><a href="/aboutus">About us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Pages</h3>
                            <ul>
                                <li><a href="/category">Category Product</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="#">Checkout</a></li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <h3 class="dot-title">Pages</h3>
                            <div class="comp-address grey-color">
                                <p>227 Nguyễn Văn Cừ Street<br>District 5,Ward 4,HCM City</p>
                                <p>
                                    <a href="">+84928928329</a>
                                    <br>
                                    <a href="">shoppingshoes@gmail.com</a>
                                </p>
                                <p>
                                    Weekdays: 9AM to 5PM<br>
                                    Saturday: 9AM to 3PM<br>
                                    Sunday: Closed
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="list-inline">
                            <ul>
                                <li><a href="https://www.facebook.com/bach0807/"><i class="ri-facebook-line"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="ri-instagram-line"></i></a></li>
                                <li><a href="https://github.com/"><i class="ri-github-line"></i></a></li>
                                <li><a href="https://www.pinterest.com/search/pins/?q=nike%20450*600&rs=typed"><i class="ri-pinterest-line"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>© 2023 Shopping, Inc. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>